NET "clk" LOC = "B8";

NET "rst" LOC = "G18"; # switch
NET "sorteio" LOC = "B18"; # botão

# porta vga
# sincronismos 
NET "vga_hs" LOC = "T4";
NET "vga_vs" LOC = "U3";

NET "vga_r[2]" LOC = "R8"; 
NET "vga_r[1]" LOC = "T8"; 
NET "vga_r[0]" LOC = "R9"; 

NET "vga_g[2]" LOC = "P6"; 
NET "vga_g[1]" LOC = "P8"; 
NET "vga_g[0]" LOC = "N8";

NET "vga_b[1]" LOC = "U4";
NET "vga_b[0]" LOC = "U5";

NET "seg[0]" LOC = "L18";
NET "seg[1]" LOC = "F18";
NET "seg[2]" LOC = "D17";
NET "seg[3]" LOC = "D16";
NET "seg[4]" LOC = "G14";
NET "seg[5]" LOC = "J17";
NET "seg[6]" LOC = "H14";

NET "an_out[0]" LOC = "F17"; # AN3 (esquerda)
NET "an_out[1]" LOC = "H17"; # AN2
NET "an_out[2]" LOC = "C18"; # AN1
NET "an_out[3]" LOC = "F15"; # AN0 (direita)