# -----------------------------------------------------------------
NET "x[0]" LOC = "G18"; 
NET "x[1]" LOC = "H18"; 
NET "x[2]" LOC = "K18";
NET "x[3]" LOC = "K17";

NET "y[6]" LOC = "L18"; 
NET "y[5]" LOC = "F18"; 
NET "y[4]" LOC = "D17"; 
NET "y[3]" LOC = "D16"; 
NET "y[2]" LOC = "G14"; 
NET "y[1]" LOC = "J17"; 
NET "y[0]" LOC = "H14";

NET "anodo[0]" LOC = "F17";
NET "anodo[1]" LOC = "H17";
NET "anodo[2]" LOC = "C18";
NET "anodo[3]" LOC = "F15";